{
  "env": {
    "development": {
      "presets": [ "env" ]
    },
    "rollup": {
      "presets": [ ["env", { "modules": false }]  ]
    },
    "jsnext": {
      "presets": [ ["env", { "modules": false }]  ]
    }
  }
}
